<div class="product">
  <div class="pros-header">
    <% if @offer.photo.file.nil? %>
      <% @url = "https://images.unsplash.com/photo-1506967236291-3d3c4ad88abd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8966dd3034be8631151ec07601acfa02&auto=format&fit=crop&w=2849&q=80" %>
    <% else %>
      <% @url = cl_image_path @offer.photo %>
    <% end %>
    <div class="photo-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @url %>')">
      <div class="photo-banner-content">
        <h1 id="offer-banner-title">Liste des rendez-vous de <%= @offer.company_name %></h1>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="content-bloc">
    <ul class="booking-list">
      <% @bookings.each do |booking| %>
        <div class="booking-element">
          <div class= "row date-font">
            <li><strong><%= booking.date %></strong></li>
          </div>
          <div class="row flex-body">
            <div class="booking-info">
              <li><strong><%= User.find(booking.user_id).last_name %> <%= User.find(booking.user_id).first_name %></strong></li>
              <li><p><strong>Tel: </strong><%= User.find(booking.user_id).phone_number %><strong> | Email: </strong><%= User.find(booking.user_id).email %></p></li>
              <li><p><strong>Commentaires: </strong><%= booking.description %></p></li>
            </div>
          </div>
          <div class="row status-font" id="status">
            <li><strong><em><%= booking.status == "<pend></pend>ing" ? "en attente" : "confirmé" %></em></strong></li>
          </div>
          <div class="row action-rdv">
            <% if booking.status == "<pend></pend>ing" %>
              <div class="row-status">
                <li>
                  <%= link_to accept_path(booking) do %>
                    <i class="fa fa-check-square"></i>
                  <% end %>
                </li>
              </div>
              <div class="row-status">
                <li><p>  |  </p></li>
              </div>
              <div class="row-status">
                <li>
                  <%= link_to deny_path(booking) do %>
                    <i class="fa fa-trash-alt"></i>
                  <% end %>
                </li>
              </div>
              <% else %>
              <div class="row-status">
                <li>
                  <%= link_to deny_path(booking) do %>
                    <i class="fa fa-trash-alt"></i>
                  <% end %>
                </li>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>
    <div class="row-btn">
      <div class="return-btn-position">
        <%= link_to "retour", offer_path(@offer), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
