<h1>Our index of offers</h1>
<ul>
  <% Offer.all.each do |offer| %>
    <li><%= offer.company_name %></li>
    <li><%= offer.address %></li>
    <li><%= offer.description %></li>
    <li><%= offer.price %></li>
    <li><%= offer.user.first_name %></li>
    <li><%= offer.user.last_name %></li>
  <% end %>
</ul>
