
<div class="product">
  <div class="pros-header">
    <% if @offer.photo.file.nil? %>
      <% @url = "https://images.unsplash.com/photo-1506967236291-3d3c4ad88abd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8966dd3034be8631151ec07601acfa02&auto=format&fit=crop&w=2849&q=80" %>
    <% else %>
      <% @url = cl_image_path @offer.photo %>
    <% end %>
    <div class="photo-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @url %>')">
      <div class="photo-banner-content">
        <h1 id="offer-banner-title"><%= @offer.company_name %></h1>
        <p><%= @offer.user.phone_number %> | <%= @offer.user.email %> | <%= @offer.address %></p>
      </div>
    </div>
  </div>
</div>
<div class="main-container container">
  <div class="row">
    <div class="col-xs-8">
      <div class= "description-block">
        <h2>Notre offre</h2>
        <p><%= @offer.description %></p>
      </div>
    </div>

    <div class="block-container col-xs-4">
      <div class="booking-block">
        <h2>Réserver cette offre</h2>
        <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.input :date,  enableTime: true, dateformat: "Y-m-d H:i",required: false, as: :string, input_html: {class: " form-control datepicker "} %>
        <%= f.input :description, label: "Commentaires", placeholder: "Décrivez vos besoins en orientation", input_html: { maxlength: 300 } %>
        <%= f.submit "réserver", class: "btn btn-success element-large" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


